{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
    },
    "cloudant": {
      "db": "http://askingenceseereafteryoun:W15Yj7fiIDCaNJvdoK1EQyyJ@cam25.cloudant.com/asdcouch"
    }
  }
}
